* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
    min-height: 100vh;
    width:100%;
    /* linear-gradient: 이미지에 명암을 줌 (default는 to bottom) */
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/dog-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;       
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

p {
    color: #777;
}

nav img{
    width: 150px;    
}

.nav-links {
    flex: 1;
    text-align: right;    
}

.nav-links ul li {
    list-style: none; /* no bullet */
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;  /* 커서 올리기전에는 안보이도록 */
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    
}

.nav-links ul li:hover::after {
    width:100%;
    transition: 0.5s;
}

/* ------------------------------------------------------------- */
/* Text Box */
.text-box {
    width: 90%;
    color:white;
    /* 가장 가까운 부모중 position:relative 기준으로 배치, 없다면 <body> 기준 상대적 배치  */
    position: absolute;
    top: 50%;
    left: 50%;
    /* X,Y */
    transform: translate(-50%, -50%);     
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    /* top left,right bottom */
    margin: 10px 0 40px;  
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;    
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* 큰화면에서는 아이콘 보이지않도록 */
nav .fas {
    display: none;
}

/* 창 크기 줄였을시  */
@media(max-width: 700px) {
     /* scrollbar 제거 */
    body {
        overflow-x: hidden;
    }

    .text-box h1 {
        font-size: 20px;
    }

    /* 창크기 작아지면 메뉴들 vertical로 오도록  */
    .nav-links ul li {
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#f44336;
        height: 100vh;
        width: 200px;
        top:0;    
        right:-200px;
        text-align: left;
        z-index:2;        
        transition: 1s;
    }
    /* 작은화면에서는 아이콘 보이도록  */
    nav .fas {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}

/* ------------------------------------------------------------- */
/* course */
.service {
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.service h1 {
    font-size: 36px;
    font-weight: 600;    
}

.service p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.service-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.service-col:hover {
    /* 박스에 마우스 커서 갖다대면 명암생김 */
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* ------------------------------------------------------------- */
/* Resort */

.resort {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.resort-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
}

.resort-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left:0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

/* title */
.layer h3 {
    width: 100%;
    font-weight: 500;
    color:white;
    font-size: 26px;
    bottom: 0;
    left: 50%;    
    transform: translateX(-50%);
    /* 가장 가까운 relative인 부모는 .campus-col */
    position: absolute; 
    transition: 0.5s;
    opacity: 0;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/* ------------------------------------------------------------- */
/* facilities */
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
    color: #777;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 600;
}

/* ------------------------------------------------------------- */
/* testimonials */
.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonials-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonials-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonials-col p {
    padding: 0;
}

.testimonials-col h3 {
    margin-top: 15px;
    text-align: left;}

.testimonials-col .fas  {
    color: #f44336;
}
.testimonials-col .far  {
    color: #f44336;
}

@media(max-width: 700px)
{
    .testimonials-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}


/* ------------------------------------------------------------- */
/* call to action */

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/dog-contact.jpg); 
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: white;
    margin-bottom: 40px;
    padding:0;
}

@media(max-width:700px) {
    .cta h1 {
        font-size: 24px;
    }
}


/* ------------------------------------------------------------- */
/* Footer */
.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;    
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fab {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart {
    color: #f44336;
}






/* ------------------------------------- about.html -------------------------------------- */
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.sub-header h1 {
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top:80px;
    padding-bottom: 50px;
}

.about-col {
    /* 2 column 이므로 48% 면됨  */
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%
}

.about-col h1 {
    padding-top: 0;
}

.about-col p {
    padding: 15px 0 25px;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: white;
}



/* ------------------------------------- blog.html -------------------------------------- */
.blog-content {
    width:80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 65%;    
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p {
    color:#999;
    padding: 0;    
}

.blog-right {
    flex-basis: 32%;    
}

.blog-right h3 {
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display:flex;
    text-align: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

.comment-box {
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}

.comment-box h3 {
    text-align: left;
}

.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    outline: none;
    background: #f0f0f0;
}

.comment-form button {
    margin: 10px 0;
}

@media(max-width: 700px)
{
    .sub-header h1 {
        font-size: 24px;
    }
}


/* logo */
.header .fa-dog{
    display: inline-block;
    font-size:40px;
    color:white;
}

.header span {
    color:white;
    font-size:23px;
    font-weight: 800;
}